* {
  margin: 0;
  color: #00fa00;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: rgb(19, 18, 18);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 60%;
  background-color: black;
  box-shadow: 0 0 3px 5px chartreuse;
}

#game-content {
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Game Text */
li {
  list-style: none;
  max-width: 90%;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

ul {
  padding: 0;
}

.game-text {
  font-size: 20px;
  display: inline-block;
  max-width: fit-content;
  line-height: 30px;
}

.current-text:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #00fa00;
  opacity: 0;
  display: inline-block;
  margin-left: 5px;
  animation: caret-blink 0.8s linear infinite alternate;
}

/* Player Input */
input {
  align-self: normal;
  padding: 10px 10px 10px 0;
  border: none;
  width: 95%;
  font-size: 20px;
  background-color: rgb(19, 18, 18);
}

input:focus {
  outline: none;
}

.input-container {
  display: flex;
  width: 100%;
  background-color: rgb(19, 18, 18);
}

#terminal-sign {
  width: 5%;
  text-align: center;
  align-self: center;
  font-size: 30px;
}

/* buttons */
.buttons-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

button {
  border: 1px solid #00fa00;
  font-size: 25px;
  width: 150px;
  height: 50px;
  background-color: rgb(19, 18, 18);
}

button:active {
  box-shadow: 0 0 3px 5px chartreuse;
}

/* Animations */
@keyframes type {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes caret-blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
